<main class="main">
  <div class="corpo-jogo">
    <div class="container-capa">
      <img
        class="capa-filme"
        *ngIf="filmeDetalhes && filmeDetalhes.poster_path"
        [src]="'https://image.tmdb.org/t/p/w500' + filmeDetalhes.poster_path"
        [ngStyle]="{ filter: 'blur(' + nivelBlur + 'px)' }"
        alt="Capa Filme"
      />
    </div>

    <input class="caixa-busca" (keydown.enter)="validar()" type="text" [(ngModel)]="filmeTitulo" placeholder="Qual o nome desse filme?"/>

    <div class="campo-botoes">
      <button (click)="validar()" class="botao-busca">Adivinhar</button>
      <button (click)="pular()" class="botao-skip">Pular</button>
    </div>
  </div>
</main>

<router-outlet />